sudo: required
os:
- linux
- osx
language: node_js
node_js:
- node
- '9'
- '8'
- '7'
- '6'
cache:
  directories:
  - "$HOME/.npm"
before_install:
# Decrypt the .clasprc.json.enc file used for authentication for clasp commands
# Will not decrypt on PRs from forks.
- openssl aes-256-cbc -K $encrypted_0f9bbf7a60f4_key -iv $encrypted_0f9bbf7a60f4_iv
  -in ./tests/.clasprc.json.enc -out .clasprc.json -d || true
- npm install -g npm@latest
install:
# npm-ci (https://docs.npmjs.com/cli/ci) is used for the install step instead	+- npm ci
# of npm-install because it ensures that the package-lock.json is up to date	
# with the package.json in order for the travis tests to pass.
- npm ci
before_script:
- npm run build
script:
- npm run lint
# Only run test if not a PR (thus the file was decrypted)
- 'if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then npm run test; fi'
after_success: npm run coverage
