sudo: required
os:
- linux
- osx
language: node_js
node_js:
- node
- '10'
- '8'
- '6'
env:
  global:
  - SCRIPT_ID=1Q3zCVgK53kEiacR0qvBYFr-A4d720UgZh3cdfDF2oFVJE5SgFiXO0AVZ
  - PROJECT_ID=project-id-2758325992214167277
cache:
  directories:
  - "$HOME/.npm"
before_install:
- openssl aes-256-cbc -K $encrypted_200b2e234285_key -iv $encrypted_200b2e234285_iv
  -in ./tests/.clasprc.json.enc -out $HOME/.clasprc.json -d && echo "Successfully decrypted keys into $HOME/.clasprc.json" || true && echo "Could not decrypt keys. Is this a PR?"
- npm install -g npm@latest
install:
- npm ci
before_script:
- npm run build
script:
- npm run lint
- npm run test
after_success: npm run coverage
